{% extends "_base.html" %}

{% block title %}
홈페이지
{% endblock %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/basic.css" integrity="sha512-+Vla3mZvC+lQdBu1SKhXLCbzoNCl0hQ8GtCK8+4gOJS/PN9TTn0AO6SxlpX8p+5Zoumf1vXFyMlhpQtVD5+eSw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}

{% block contents %}
{% include "header.html" %}
<br>
    <div id="formContainer">
        <form action="{% url 'apis_v1_content_create' %}" class="dropzone" id="uploader" style="background-color: whitesmoke;">
            <div class="dz-message" data-dz-message><span>드래그 드랍하거나 클릭하여 이미지 선택</span></div>
            <div class="fallback">
                <input name="file" type="file"/>
            </div>
        </form>
        <div class="form-group">
            <label> 아래에 글을 입력해주세요.</label>
            <textarea class="form-control rounded-0" id="text" rows="3"></textarea>
        </div>

        <div style="text-align: right;">
            <button type="button" class="btn btn-danger" id="upload">작성하기</button>
        </div>
    </div>
    {% for content in contents %}
    <br>
    <div class="content">
        <div class="post">
            {% for image in content.image_set.all %}
            <div class="user-block">
                <h5 class="text-info left-things">id: {{ content.user.username }}</h5>
                <img class="img-info img-circle img-bordered-sm" src="{{ image.image.url }}" alt="User Image">    
            </div>
            {% endfor %}
            <span class="username left-things">
                created_by <a href="#">{{ content.user.username }}</a>
                <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
            </span>
            <span class="description">Posted {{ content.image_set.count }} Photos - {{ content.created_at }} </span>
            <p>{{ content.text }}</p>
        </div>
    </div>
    {% endfor %}

    <script>
        Dropzone.autoDiscover = false;

        var dropZoneUploader = new Dropzone('form#uploader', {
            init: function() {
                var dropzone = this;

                $('#upload').click(function () {
                    dropZoneUploader.processQueue();
                });

                dropzone.on("sending", function(file, xhr, formData){
                    formData.append("text", $('#text').val())
                });
            },
            parallelUploads: 10,
            autoProcessQueue: false,
            type: 'POST',
            success: function() {
                location.reload();
            },
            error: function(e) {
                console.log(e)
                alert('에러가 발생했습니다. 다시 시도해주세요.');
            },
            acceptedFiles: ".jpeg,.jpg,.png,.gif",
            uploadMultiple: true,
        });
    </script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">  
    </script>
    <script>
        $(document).ready(function () {
            $('#logout').click(function() {
                $.get('/apis/v1/users/logout/', {}, function() {
                    location.reload();
                })
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js" integrity="sha512-U2WE1ktpMTuRBPoCFDzomoIorbOyUv0sP8B+INA3EzNAhehbzED1rOJg6bCqPf/Tuposxb5ja/MAUnC8THSbLQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


{% endblock %}