.register {
    margin: 100px 100px;
}
#login .container {
    margin-top: 120px;
    width: 600px;
    height: 400px;
    border: 2px solid lightcoral;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}
